<footer class="dark-bg">
    <div class="container inner">
        <div class="row">

            <div class="col-md-4 col-sm-12 inner">
                <h4>Get In Touch</h4>
                <ul class="contacts">
                    <li>
                        <a href="https://www.google.com/maps/place/{{ site.data.global.contact_address }}" target="_blank"><i class="fa fa-map-marker"></i> {{ site.data.global.contact_address }}</a>
                    </li>
                    <li>
                        <a href="tel:{{ site.data.global.contact_phone}}"><i class="fa fa-phone"></i> {{ site.data.global.contact_phone }}</a> - Emergency All Hours
                    </li>
                    <li><i class="fa fa-fax"></i> {{ site.data.global.contact_fax }}</li>
                    <li>
                        <a href="mailto:{{ site.data.global.contact_email }}"><i class="fa fa-envelope-o"></i> {{ site.data.global.contact_email }}</a>
                    </li>
                    <li>
                        ABN: 12 002 871 258
                    </li>
                    <li>
                        NSW Security Licence: 405673182
                    </li>
                </ul>
            </div>

            <div class="col-md-3 col-sm-12 inner">
                <h4>Opening Hours</h4>
                <ul class="list-unstyled">
                    <li>Monday - Friday: <em>8.00am - 5.30pm</em></li>
                    <li>Saturday: <em>9.00am - 12.00pm</em></li>
                    <li>Sunday &amp; Public Holidays: <em>Closed</em></li>
                </ul>
            </div>

            <div class="col-md-5 col-sm-12 inner">
                <h4>Who we are</h4>

                <p>Riverina Safes &amp; Locks has been providing the best level of security for your particular needs and price range for over 30 years. Our fully qualified &amp; licensed Locksmiths will guide you through all aspects of your Home, Office, Factory, Farm or Vehicle Security.</p>
                <a href="{{ site.data.global.url }}about" class="txt-btn">More about us</a>
            </div>

        </div>
    </div>

    <div class="footer-bottom">
        <div class="container inner">
            <p class="pull-left">Copyright &copy {{ site.time | date: '%y' }} {{site.data.global.title}}.</p>
            <ul class="footer-menu pull-right">
                {% for item in site.data.nav.main %}
                <li>
                    <a href="{{ site.data.global.url }}{{ item.url }}">{{ item.text }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</footer>

<!-- JavaScripts placed at the end of the document so the pages load faster -->
<script src="{{ site.data.global.url }}assets/js/all.js"></script>

</body>
</html>
